/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(217, 57%, 91%);
  --first-color-alt: hsl(140, 40%, 44%);
  --title-color: hsl(140, 4%, 12%);
  --text-color: hsl(140, 4%, 40%);
  --text-color-light: hsl(140, 4%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 95%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, 0.2));
  --filter-img: invert(1);
  --second-color: hsl(206, 98%, 40%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Cherry Bomb One", cursive;
  --biggest-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  line-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/

/*========== Variables Dark Theme ==========*/

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  width: 8rem;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--second-color);
    width: 100%;
    box-shadow: 0 1px 16px hsla(210, 55%, 24%, 0.1);
    padding-block: 3.5rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--white-color);
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.nav__button-link,
.nav__button-ghost {
  display: inline-block;
  color: var(--title-color);
}

.nav__input {
  padding: 0.5rem;
  font-size: 13px;
  border-radius: 0.25rem;
}

.nav__button-ghost {
  background-color: hsla(242, 60%, 17%, 0.584);
  padding: 0 1.5rem;
  border: 2px solid var(--title-color);
  border-radius: 0.5rem;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Navigation for mobile devices */
div.scrollmenu {
  padding-top: 4rem;
  background-color: var(--second-color);
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.25rem 1.5rem;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: var(--second-color);
}

/* Show menu */

/* Add shadow header */

/* Active link */

/*=============== HOME ===============*/
.home__container {
  position: relative;
  row-gap: 4rem;
}

.home__data {
  row-gap: 1.5rem;
  justify-items: center;
}

.home__title {
  font-size: var(--normal-font-size);
  color: var(--second-color);
  font-weight: var(--font-regular);
}

.home__img {
  width: 200px;
}

.home__description {
  border: 1px solid var(--second-color);
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

/*=============== CARD ===============*/
.card__container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  row-gap: 2rem;
}

.card__article:nth-last-child(-n + 5) {
  display: none;
}

.card__article {
  border-radius: 0.25rem;
  overflow: hidden;
}

.card__title {
  font-size: var(--normal-font-size);
  padding: 0.25rem;
  line-height: 1.5;
  background-color: hsl(220, 53%, 97%);
}

.aside {
  background-color: aquamarine;
}

/*=============== NEW ===============*/
.new__container {
  grid-template-columns: 100%;
  justify-content: center;
  row-gap: 2rem;
}

.new__title {
  padding: 0.75rem 0.25rem;
  line-height: 1.5;
  background-color: hsl(220, 53%, 97%);
  border: 1px solid hsl(206, 100%, 20%);
}
/*=============== ENJOY ===============*/

/*=============== ABOUT ===============*/

/*=============== POPULAR ===============*/

/*=============== JOIN ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */
.swiper {
  margin-inline: initial;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
  .home__data {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  /* .card__container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 2rem;
  }

  .card__article:nth-last-child(-n + 5) {
    display: block;
  } */
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .header {
    background-color: var(--second-color);
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    column-gap: 2rem;
  }

  .nav__toggle,
  .nav__close,
  .nav__logo,
  .scrollmenu {
    display: none;
  }

  .nav__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .nav__link {
    color: var(--white-color);
  }

  .nav__buttons {
    flex-direction: row;
    column-gap: 3rem;
  }

  .home__container {
    padding-top: 5rem;
  }

  .card__container {
    padding-block: 1rem;
    grid-template-columns: 71% 1fr;
    justify-content: center;
  }

  .card__content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .card__article:nth-last-child(-n + 5) {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    margin-inline: auto;
  }
}
